body {
  margin: 1em;
  overflow: hidden;
  text-align: center;
}

#score-wrapper {
  width: 300px;
  font-size: 15pt;
  margin: 10px auto 10px auto;
  padding: 5px;
  background-color: #f16e17;
  text-align: center;
  border-radius: 15px;
}

#score-wrapper.success {
  background-color: green;
}
  

.carrousel-item img {
  width: 500px;
  transition: opacity .5s ease-in-out;
}

ul {
  list-style-type: none;
 }
