.error {
    border: 2px solid red;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

ul a{
    text-decoration: none;
}
 
.container{
    margin: 3rem;
}
form{
    
}


